.whatever {
  display: inline-block;
  width: 100%;
}

.container {
  text-align: center;
  margin: 0 !important;
}

.image-about {
  border-radius: 100%;
  margin: 20px 0;
  width: 200px;
  height: 200px;
}

.image-about:hover {
  box-shadow: 10px 10px 58px 4px #6e7880;
}

#grow {
  margin: 0 auto;
  visibility: hidden;
}

#grow-active {
  animation: grow 1s;
  animation-fill-mode: forwards;
  margin: 0 auto;
  opacity: .85;
}

#grow-active i {
  animation: icon 0.5s forwards;
  animation-delay: 0.9s;
  opacity: 0;
  color: black;
  margin: 0 10px;
}

#grow-active .fake-text {
  animation: icon 0.5s forwards;
  animation-delay: 0.9s;
  margin: 10px 0;
  opacity: 0;
}

#test {
  font-size: 24px;
  padding-top: 5px;
  text-decoration: underline;
}

@keyframes grow {
  0% {
    background-color: #cccecf;
    height: 0;
    width: 10px;
  }
  50% {
    background-color: #97e7f2;
    height: 250px;
    width: 10px;
  }
  100% {
    background-color: #e8eced;
    width: 200px;
    height: 250px;
    border-radius: 15px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.back.about > span {
  display: inline-block;
  font-family: sans-serif;
  margin-top: 40px;
}

#title {
  font-size: 36px;
}
