//
// .about {
//   // background-color: #b2cceb;
//   // border-radius: 15px;
// }

.whatever {
  display: inline-block;
  width: 100%;
}

.container {
  text-align: center;
  margin: 0 !important;
}

.image-about {
  border-radius: 100%;
  margin: 20px 0;
  width: 200px;
  height: 200px;
}

.image-about:hover {
  box-shadow: 10px 10px 58px 4px rgba(110,120,128,1);
}

#grow {
  margin: 0 auto;
  visibility: hidden;
}

#grow-active {
  animation: grow 1s;
  animation-fill-mode: forwards;
  margin: 0 auto;
  opacity: .85;
  i {
    animation: icon 0.5s forwards;
    animation-delay: 0.9s;
    opacity: 0;
    color: black;
    margin: 0 10px;
  }
  .fake-text {
    animation: icon 0.5s forwards;
    animation-delay: 0.9s;
    margin: 10px 0;
    opacity: 0;
  }
}

#test {
  font-size: 24px;
  padding-top: 5px;
  text-decoration: underline;
}

@keyframes grow {
  0% {
    background-color: #cccecf;
    height: 0;
    width: 10px;
  }
  50% {
    background-color: #97e7f2;
    height: 250px;
    width: 10px;
  }
  100% {
    background-color: #e8eced;
    width: 200px;
    height: 250px;
    border-radius: 15px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


div.back.about > span {
  display: inline-block;
  font-family: sans-serif;
  margin-top: 40px;
}

#title {
  font-size: 36px;
}

#personName {
  // background-color: #d8d9cf;
  // text-align: center;
  // border-bottom-left-radius: 15px;
  // border-bottom-right-radius: 15px;
  // padding-top: 30px;
  // padding-bottom: 70px;
  // font-family: sans-serif;
}
//
// /* entire container, keeps perspective */
// .container {
//   text-align: center;
//   margin-top: 15px;
// }
//
// .flip-container {
// 	perspective: 1000px;
//   display: inline-block;
//   margin: 0 10px;
//   margin-top: 10px;
// }
// 	/* flip the pane when hovered */
// .flip-container:hover .flipper, .flip-container.hover .flipper {
// 	transform: rotateY(180deg);
// }
//
// .flip-container, .front, .back {
// 	width: 320px;
// 	height: 480px;
// }
//
// /* flip speed goes here */
// .flipper {
// 	transition: 0.6s;
// 	transform-style: preserve-3d;
//
// 	position: relative;
// }
//
// /* hide back of pane during swap */
// .front, .back {
// 	backface-visibility: hidden;
//   position: absolute;
//
// }
//
// /* front pane, placed above back */
// .front {
// 	z-index: 2;
// 	/* for firefox 31 */
// 	transform: rotateY(0deg);
// }
//
// /* back, initially hidden pane */
// .back {
// 	transform: rotateY(180deg);
// }
