.container {
  text-align: center;
  margin: 0 !important;
  border: 5px solid red;
}

.image-about {
  border-radius: 100%;
  margin: 45px 0;
  width: 200px;
  height: 200px;
}

#grow {
  background-color: #e8eced;
  width: 10px;
  height: 0;
  margin: 0 auto;
}

#grow-active {
  height: 200px;
  width: 200px;
  background-color: #e4e4e4;
  margin: 0 auto;
  border-radius: 15px;
  transition: height 1s ease-in, weight 1s ease-in 1s;
}

i {
  color: black;
  margin: 30px 10px;
}

div.back.about > span {
  display: inline-block;
  font-family: sans-serif;
  margin-top: 40px;
}

#title {
  font-size: 36px;
}
