
.App {
  text-align: center;
}

#note {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.about {
  background-color: #b2cceb;
  border-radius: 15px;
}

.image-about {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 45px 0;
}

i {
  color: black;
  margin: 30px 10px;
}

div.back.about > span {
  display: inline-block;
  font-family: sans-serif;
  margin-top: 40px;
}

#title {
  font-size: 36px;
}

#personName {
  background-color: #d8d9cf;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 30px;
  padding-bottom: 70px;
  font-family: sans-serif;
}

/* entire container, keeps perspective */
.container {
  text-align: center;
  margin-top: 15px;
}

.flip-container {
	perspective: 1000px;
  display: inline-block;
  margin: 0 10px;
  margin-top: 10px;
}
	/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  position: absolute;

}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

body {
	background: #F8F8FF !important;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.logo {
	text-align: center;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}


	.form-control {
	  position: relative;
	  font-size: 36px;
    font-weight: bold;
	  height: auto;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: 100px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
